<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
    {% if posts %}
        {% for post in posts %}
            <div>
                <p>Published: {{ post.published_date }}</p>
                <p><a href="">{{ post.title }}</a></p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
    {% else %}
        <p>No posts to display</p>
    {% endif %}
    </body>
</html>